.clearfix:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
    }
* html .clearfix             { zoom: 1; } /* IE6 */
*:first-child+html .clearfix { zoom: 1; } /* IE7 */

/* ** JQUERY UI OVERRIDES/PATCHES ** */
.ui-body-c {
    background: #fafafa;
}

.ui-collapsible-content {
    position:static;
    overflow: hidden;
}

.ui-collapsible-content.ui-corner-bottom li:last-child {
    -moz-border-radius-bottomleft: .6em /*{global-radii-blocks}*/;
	-webkit-border-bottom-left-radius: .6em /*{global-radii-blocks}*/;
	border-bottom-left-radius: .6em /*{global-radii-blocks}*/;
	-moz-border-radius-bottomright: .6em /*{global-radii-blocks}*/;
	-webkit-border-bottom-right-radius: .6em /*{global-radii-blocks}*/;
	border-bottom-right-radius: .6em /*{global-radii-blocks}*/;
}

.ui-content .ui-collapsible .ui-listview {
    margin: -10px -16px -11px -16px;
}

/* ** GLOBAL ** */
.ui-header .hash {
    display: inline-block;
    position: absolute;
    right: 10px;
    top: 9px;
    
    color: #fff;
    text-decoration: none;
}

/* ** HOME ** */
body {
    font-family: Helvetica, Arial, sans-serif /*{global-font-family}*/;
}

.ui-page {
    background-image: url(../images/bg.png);
    background-size: 241px 241px;
}

#home .logo {
    text-indent:-9999px;
    display: block;
    margin:0;
    padding:0;
    background: url(../images/lsp-logo.png) top center no-repeat;
    
    height: 143px;
}

@media screen and (-webkit-min-device-pixel-ratio: 1.5) {

    .ui-page {
        background-image: url(../images/bg.png);
        background-size: 120px 120px;
    }

    #home .logo {
        background: url(../images/lsp-logo@2x.png) top center no-repeat;
        background-size: 175px 143px;
    }
}

/* ** SCHEDULE ** */


/* ** SESSION ** */
.time-heading {
    box-sizing: border-box;
    
    margin: -15px;
    margin-bottom: 15px;
    padding: 15px;
    font-size: 1.15em;
    font-weight: bold;
    
    background: #fff;
    border-bottom: 1px solid #ccc;
    
    text-align: center;
}

.session {
    margin: 0 0 30px 0;
}

.session hgroup h2, .session hgroup h3 {
    margin:0;
}

.session hgroup h3 {
    font-weight: normal;
}

.session h4 .room {
    float: right;
    text-transform: uppercase;
}

/* ** SESSIONS ** */
#sessions .ui-collapsible-set {
    margin: -15px;
}

#sessions .ui-collapsible .ui-collapsible-heading .ui-btn-inner {
    padding-left: 15px;
}

#sessions .ui-collapsible .ui-collapsible-heading .ui-btn-inner .ui-icon {
    right: 15px;
}

#sessions hgroup h2, #sessions hgroup h3 {
    margin:0;
}

#sessions hgroup h3 {
    font-weight: normal;
}

#sessions .schedule {
    margin-top: 10px;
    
    font-size: 0.85em;
}

#sessions .schedule .date {
}

#sessions .schedule .time {
}

#sessions .schedule .room {
    float: right;
}

#sessions .ui-collapsible-content p {
    margin-top: 10px;
}