.clearfix:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
    }
* html .clearfix             { zoom: 1; } /* IE6 */
*:first-child+html .clearfix { zoom: 1; } /* IE7 */

/* ** GLOBAL ** */
.ui-mobile .ui-header.ui-bar-a {
    border-top-color: #fff;
    border-bottom-width: 2px;
}
.ui-header h1.ui-title {
    font-family: "Open Sans", arial, verdana;
    text-transform: uppercase;
    font-weight: normal;
    color:#63625a;
}
.ui-header .hash {
    display: inline-block;
    position: absolute;
    right: 10px;
    top: 9px;
    
    font-family: Sanchez;
    text-transform: none;
    text-decoration: none;
}

/* ** HOME ** */
.ui-page {
    background-image: url(../images/bg.jpg?1);
    background-size: 241px 241px;
}

#home .logo {
    text-indent:-9999px;
    display: block;
    margin:0;
    padding:0;
    background: url(../images/lsp-logo.png?1) top center no-repeat;
    
    height: 143px;
}

@media screen and (-webkit-min-device-pixel-ratio: 1.5) {

    .ui-page {
        background-image: url(../images/bg.jpg?1);
        background-size: 120px 120px;
    }

    #home .logo {
        background: url(../images/lsp-logo@2x.png?13) top center no-repeat;
        background-size: 175px 143px;
    }
}