.clearfix:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
    }
* html .clearfix             { zoom: 1; } /* IE6 */
*:first-child+html .clearfix { zoom: 1; } /* IE7 */

/* ** GLOBAL ** */
.ui-mobile .ui-header.ui-bar-a {
    border-top-color: #fff;
    border-bottom-width: 2px;
}
.ui-header h1.ui-title {
    font-family: "Open Sans", arial, verdana;
    text-transform: uppercase;
    font-weight: normal;
    color:#63625a;
}
.ui-header .hash {
    display: inline-block;
    position: absolute;
    right: 10px;
    top: 9px;
    
    font-family: Sanchez;
    text-transform: none;
    text-decoration: none;
}

.ui-body-a, .ui-body-c {
    background: #fff;
}

.ui-btn-up-b { 
    border: 1px solid #bd3926;
    background: #bd3926;
    color: #fff;
	text-shadow: 0 0 0 #ffffff;
}
.ui-btn-hover-b,
.ui-btn-hover-b:hover {
    border: 1px solid #bd3926;
    background: #bd3926;
    color: #fff;
	text-shadow: 0 0 0 #ffffff;
    background-image: none;
}

.ui-btn-hover-b  a.ui-link-inherit {
    color: #fff;
}

.ui-btn-up-b .ui-icon,
.ui-btn-hover-b .ui-icon,
.ui-btn-hover-b:hover .ui-icon {
    background-image: url(./themes/lsp13/images/icons-18-white.png);
}

/* ** HEADING ** */
.ui-header .ui-btn {
    margin-top: 2px;
}

/* ** HOME ** */
.ui-page {
    background-image: url(../images/bg.jpg?6);
    background-size: 241px 241px;
}

#home .logo {
    text-indent:-9999px;
    display: block;
    margin:0;
    padding:0;
    background: url(../images/lsp-logo.png?6) top center no-repeat;
    
    height: 143px;
}

@media screen and (-webkit-min-device-pixel-ratio: 1.5) {

    .ui-page {
        background-image: url(../images/bg.jpg?6);
        background-size: 120px 120px;
    }

    #home .logo {
        background: url(../images/lsp-logo@2x.png?6) top center no-repeat;
        background-size: 175px 143px;
    }
}

/* ** SESSION ** */
.time-heading {
    box-sizing: border-box;
    
    margin: -15px;
    margin-bottom: 15px;
    padding: 15px;
    font-size: 1.15em;
    font-weight: bold;
    
    background: #000 url(../images/texture-jeans-dark.png?6);
    text-shadow: none;
    color: #fff;

    
    text-align: center;
}

.session {
    margin: 0 0 30px 0;
}

.session hgroup h2, .session hgroup h3 {
    margin:0;
}

.session hgroup h3 {
    font-weight: normal;
}

.session h4 .room {
    float: right;
    text-transform: uppercase;
}

/* ** SESSIONS ** */
#sessions hgroup h2, #sessions hgroup h3 {
    margin:0;
}

#sessions hgroup h3 {
    font-weight: normal;
}

#sessions .schedule {
    margin-top: 10px;
    
    font-size: 0.85em;
}

#sessions .schedule .date {
}

#sessions .schedule .time {
}

#sessions .schedule .room {
    float: right;
}


/* ** SPEAKERS ** */
.speaker-page .details {
    box-sizing: border-box;
    
    margin: -15px;
    margin-bottom: 15px;
    padding: 15px;
    
    background: #000 url(../images/texture-jeans-dark.png?6);
    text-shadow: none;
    color: #fff;
}

.speaker-page .details a {
    color: #FF4C33;
}

.speaker-page .details a:visited {
    color: #FF4C33;
}

.speaker-page .details img {
    width: 50px;
    height: 50px;
    
    float: left;
    
    background: #ccc;
    border: 4px solid white;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.5);
}

.speaker-page .details hgroup {
    margin-left: 62px;
}

.speaker-page .details hgroup h1,
.speaker-page .details hgroup h2 {
    margin:0;
    padding:0;
    line-height: 0.8em;
}

.speaker-page .details hgroup h2 {
    font-weight: normal;
    line-height:1em;
    margin-top: 4px;
}

.speaker-page .details .social {
    margin-top: 15px;
}

.speaker-page .details .social a {
    display: block;
    margin: 0 0 5px 0;
}

.speaker-page .details .social a.twitter {
    text-decoration: none;
}